body {
  text-align: center;
}

.lightMode {
  background-color: #9ac1a2;
}
.navLigth {
  background-color: #67597a;
}
.darkMode {
  color: white;
  background-color: #29302b;
}
.navDark {
  background-color: #200116;
  --bs-navbar-brand-color: white;
}
.alinearR {
  text-align: right;
}
#seccion {
  padding: 10px;
}
#respuesta {
  width: 40%;
  margin: auto;
  color: black;
  background-color: white;
  border-radius: 25px;
}
